/* h1 {
    color:red;
}

img {
    width: 300px;
}

.menu-item {
    background: white;
}

button:last-child {
    color: red;
}

#home-button {
    font-weight: bold;
    background: rgb(80, 90, 150);
}

#search {
    border: 2px solid black;
}

div#menu button.menu-item {
    color: blue;
} */

#logo {
    height: 50px;
}
#header {
    display: flex;
    align-items: center;
}

#header h2 {
    margin-right: 10px;
}

/*#search {
    margin-left: auto;
}*/

#menu {
    margin-left: auto;
    margin-right: auto;
    
}

#hero {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero__slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0px;
    font-size: 100px;
    text-align: center;
}

#description {
    padding: 100px;
}

#latest-articles {
    display: flex;
    flex-direction: column;
}

.article-item {
    margin: 0px 50px;
    display: flex;
    padding: 20px 50px;
    height: 150px;
    border-bottom: 1px solid lightgrey;
}

.article-item:first-child {
    box-shadow: 5px 0px 15px 5px rgba(0,0,0,0.5);
}

.article-item:last-child {
    border-bottom: none;
}

.article-item__cover-img-container {
    flex: 1;
}

.article-item__cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article-item__text-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.article-item__header {
    display: flex;
}

.article-item__header__title, 
.article-item__header__date {
    margin: 0;
}

.article-item__header__date {
    margin-left: auto;
    color: grey;
}

.article-item__price span {
    font-weight: bold;
}